@import "~video-react/styles/scss/video-react";

.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// .mapboxgl-canvas-container,
.leaflet-container { 
  height: 100vh !important; 
  width: 100vw !important;
}


div[n="moveElement"] div[title] img.csssprite{
  width: 68px !important;
  height: 42px !important;
  max-width: initial !important;
  max-height: initial !important;
  min-width: initial !important;
  min-height: initial !important;
}

video, .BMap_Marker > div > img {
  // display: flex;
  // align-items: center;
  // //width: 50vw;
  width: 90px;
  height: 90px;
  // margin: auto;
  // max-width: 22em;

  // position: relative;
  // padding: 30% 2em;
  // box-sizing: border-box;

  background-blend-mode: multiply;

  border-radius: 50%;

  // $border: 5px;
  // color: #FFF;
  // background: #000;
  // background-clip: padding-box; /* !importanté */
  // border: solid $border transparent; /* !importanté */

  
}

div[style*="width: 90px"]{
  $border: 5px;
  overflow: visible !important;

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -3px; /* !importanté */
    border-radius: 50%; /* !importanté */
    // background: linear-gradient(to right, red, orange);
    background-color: white;
    box-shadow: 0 0 15px black;
  }
}